/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.mainStyle {
  font-family: "Pacifico", cursive;
}

 */

 .btn{
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  background-color:white;
  color: rgb(239, 196, 52);
}
.btn:hover{
  background-color: rgb(103, 117, 244);

  transition: 1s;
}